<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/common :: vueHead('我的桌面')"></head>
<body>
<div id="app">
	<i-layout>
		<i-content :style="{margin: '20px', minHeight: '220px'}">
			<i-table border :columns="columns" :data="data"></i-table>
		</i-content>
	</i-layout>
</div>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
    var myHome = new Vue({
        el: '#app',
        data: {
            columns: [
                {
                    title: 'Name',
                    key: 'name'
                },
                {
                    title: 'Age',
                    key: 'age'
                },
                {
                    title: 'Address',
                    key: 'address'
                }
            ],
            data: [
                {
                    name: 'John Brown',
                    age: 18,
                    address: 'New York No. 1 Lake Park',
                    date: '2016-10-03'
                },
                {
                    name: 'Jim Green',
                    age: 24,
                    address: 'London No. 1 Lake Park',
                    date: '2016-10-01'
                },
                {
                    name: 'Joe Black',
                    age: 30,
                    address: 'Sydney No. 1 Lake Park',
                    date: '2016-10-02'
                },
                {
                    name: 'Jon Snow',
                    age: 26,
                    address: 'Ottawa No. 2 Lake Park',
                    date: '2016-10-04'
                }
            ]
        },
        methods: {
            info (nodesc) {
                this.$Notice.info({
                    title: '这是标题',
                    desc: nodesc ? '' : '这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容'
                });
            },
            success (nodesc) {
                this.$Notice.success({
                    title: '这是标题',
                    desc: nodesc ? '' : '这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容'
                });
            },
            warning (nodesc) {
                this.$Notice.warning({
                    title: '这是标题',
                    desc: nodesc ? '' : '这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容'
                });
            },
            error (nodesc) {
                this.$Notice.error({
                    title: '这是标题',
                    desc: nodesc ? '' : '这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容'
                });
            }
        }
    })
    /*]]>*/
</script>
</body>
</html>