<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/common :: head('登录')"></head>
<body class="login-bg">
    
    <div class="login">
        <div class="message">登录</div>
        <div id="darkbannerwrap"></div>
        
        <form method="post" class="layui-form" >
            <input name="username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <input class="loginin" value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
            <div>
            	前端静态展示，请随意输入，即可登录
            </div>
        </form>
    </div>

    <div th:include="/common/common :: commonJS" th:remove="tag"></div>
    <script type="text/javascript" th:inline="javascript">
        	layui.extend({
				admin: /*[[@{/js/admin}]]*/ '{/}js/admin'
			});
            layui.use(['form','admin'], function(){
              var form = layui.form
              	,admin = layui.admin;
                layer.msg('前端静态展示，请随意输入，即可登录', function(){
                 // 关闭后的操作
                });
              // 监听提交
              form.on('submit(login)', function(data){
                /*layer.msg(JSON.stringify(data.field), function(){
                    location.href = 'index.shtml';
                });*/
                layer.msg(JSON.stringify(data.field));
                location.href = /*[[@{/index.shtml}]]*/ 'index.shtml';
                return false;
              });
            });   
    </script>  
    <!-- 底部结束 -->
</body>
</html>